### 코사인 유사도  

- 답변 대신 달아주기
- 추천 게시글
- 비슷한 컨텐츠 추천
- 제목만 작성해도 내용을 자동으로 추천

In [1]:
import numpy as np

v1 = np.array([0, 0, 2])
v2 = np.array([0, 1, 1])

In [2]:
from numpy import dot
from numpy.linalg import norm

def get_cosine_similarity(A, B) : # A, B 자리에 Features
    return dot(A, B) / (norm(A) * norm(B))

In [3]:
get_cosine_similarity(v1, v2)

0.7071067811865475

In [4]:
from sklearn.metrics.pairwise import cosine_similarity

v1 = np.array([[0, 0, 2]])
v2 = np.array([[0, 1, 1]])
cosine_similarity(v1, v2)

array([[0.70710678]])

In [5]:
import numpy as np
import pandas as pd

m_df = pd.read_csv('./datasets/movie_dataset.csv')
m_df

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,4798,220000,Action Crime Thriller,NaN,9367,united states\u2013mexico barrier legs arms pa...,es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,Carlos Gallardo Jaime de Hoyos Peter Marquardt...,"[{'name': 'Robert Rodriguez', 'gender': 0, 'de...",Robert Rodriguez
4799,4799,9000,Comedy Romance,NaN,72766,NaN,en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,Edward Burns Kerry Bish\u00e9 Marsha Dietlein ...,"[{'name': 'Edward Burns', 'gender': 2, 'depart...",Edward Burns
4800,4800,0,Comedy Drama Romance TV Movie,http://www.hallmarkchannel.com/signedsealeddel...,231617,date love at first sight narration investigati...,en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,Eric Mabius Kristin Booth Crystal Lowe Geoff G...,"[{'name': 'Carla Hetland', 'gender': 0, 'depar...",Scott Smith
4801,4801,0,NaN,http://shanghaicalling.com/,126186,NaN,en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,Daniel Henney Eliza Coupe Bill Paxton Alan Ruc...,"[{'name': 'Daniel Hsia', 'gender': 2, 'departm...",Daniel Hsia
4802,4802,0,Documentary,NaN,25975,obsession camcorder crush dream girl,en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,Drew Barrymore Brian Herzlinger Corey Feldman ...,"[{'name': 'Clark Peterson', 'gender': 2, 'depa...",Brian Herzlinger

In [6]:
m_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [7]:
# genres , keywords , overview , tagline , cast , director
columns = ['genres' , 'keywords' , 'overview' , 'tagline' , 'cast' , 'director']

In [8]:
pre_m_df = m_df[columns].fillna('')
pre_m_df.isna().sum()

genres      0
keywords    0
overview    0
tagline     0
cast        0
director    0
dtype: int64

In [9]:
features = pre_m_df.loc[:, columns]

In [10]:
def concatenate(features):
    return features.genres + ' ' + features.keywords + \
        features.overview + ' ' + features.tagline +\
        features.cast + ' ' + features.director
result_df = concatenate(features)
result_df

0       Action Adventure Fantasy Science Fiction cultu...
1       Adventure Fantasy Action ocean drug abuse exot...
2       Action Adventure Crime spy based on novel secr...
3       Action Crime Drama Thriller dc comics crime fi...
4       Action Adventure Science Fiction based on nove...
                              ...
4798    Action Crime Thriller united states\u2013mexic...
4799    Comedy Romance A newlywed couple's honeymoon i...
4800    Comedy Drama Romance TV Movie date love at fir...
4801     When ambitious New York attorney Sam is sent ...
4802    Documentary obsession camcorder crush dream gi...
Length: 4803, dtype: object

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

count_v = CountVectorizer()
count_metrix = count_v.fit_transform(result_df)
print(count_metrix)

c_s = cosine_similarity(count_metrix)
print(c_s)
print(c_s.shape)

  (0, 613)	1
  (0, 786)	1
  (0, 11171)	1
  (0, 27307)	1
  (0, 11476)	1
  (0, 7523)	1
  (0, 5997)	1
  (0, 12467)	1
  (0, 28947)	2
  (0, 33565)	1
  (0, 6345)	1
  (0, 28739)	1
  (0, 30962)	3
  (0, 257)	1
  (0, 5398)	1
  (0, 22946)	1
  (0, 19439)	1
  (0, 16139)	1
  (0, 8946)	1
  (0, 31296)	1
  (0, 20810)	1
  (0, 22875)	2
  (0, 22317)	1
  (0, 32603)	1
  (0, 20549)	1
  :	:
  (4802, 24398)	1
  (4802, 10477)	1
  (4802, 27456)	1
  (4802, 6993)	1
  (4802, 16469)	1
  (4802, 4410)	1
  (4802, 9449)	3
  (4802, 2858)	3
  (4802, 26300)	1
  (4802, 11603)	1
  (4802, 12402)	1
  (4802, 13469)	1
  (4802, 2107)	1
  (4802, 8030)	1
  (4802, 27092)	1
  (4802, 2092)	1
  (4802, 9104)	1
  (4802, 9607)	1
  (4802, 268)	1
  (4802, 7459)	2
  (4802, 11360)	1
  (4802, 13305)	1
  (4802, 4845)	1
  (4802, 13004)	1
  (4802, 14455)	4
[[1.         0.36661369 0.24806947 ... 0.2840532  0.2098126  0.10920649]
 [0.36661369 1.         0.33900892 ... 0.39627104 0.30359384 0.1678954 ]
 [0.24806947 0.33900892 1.         ... 0.24503236 0.19900744 0.15652461]
 ...
 [0.2840532  0.39627104 0.24503236 ... 1.         0.28695304 0.16429352]
 [0.2098126  0.30359384 0.19900744 ... 0.28695304 1.         0.21025954]
 [0.10920649 0.1678954  0.15652461 ... 0.16429352 0.21025954 1.        ]]
(4803, 4803)

In [16]:
def get_index_from_title(title) : 
    return m_df[m_df.title == title].index[0]


def get_title_from_index(index) :
    return m_df[m_df.index == index]['title'].values[0]

# get_title_from_index(2)
movie_title = "Men in Black"
movie_index = get_index_from_title(movie_title)
recommended_movie = sorted(list(enumerate(c_s[movie_index])), key=lambda x:x[1], reverse=True)
recommended_movie

for movie in recommended_movie[1:6] :
    print(get_title_from_index(movie[0]))

Men in Black II
Space Battleship Yamato
The Hobbit: The Battle of the Five Armies
The Work and the Glory II: American Zion
The Andromeda Strain