### OLS Task02

#### 한국 아파트 가격 예측
https://drive.google.com/file/d/1v3eNjo3TjTgUPlq6Uw_v_oEQ8sVjaItw/view?usp=share_link

In [1]:
# import chardet

# rawdata = open('./datasets/korean_apart.csv', 'rb').read()
# result = chardet.detect(rawdata)
# result

In [2]:
import numpy as np
import pandas as pd

a_df = pd.read_csv('./datasets/korean_apart.csv', low_memory=False)
a_df

,지역코드,동,거래일,아파트,지번,전용면적,층,건축년도,거래금액
0,31110.0,학성동,5/30/2020 0:00,남운학성타운,379,135.5800,8,1991.0,26700
1,31110.0,남외동,1/3/2020 0:00,남외푸르지오1차,506-1,101.6000,2,2006.0,35500
2,31110.0,남외동,1/3/2020 0:00,에일린의뜰,500,84.9920,11,2007.0,36500
3,31110.0,남외동,1/3/2020 0:00,남외푸르지오1차,506-1,118.7060,8,2006.0,43000
4,31110.0,남외동,1/4/2020 0:00,남외푸르지오2차,501-1,84.9636,7,2007.0,38700
...,...,...,...,...,...,...,...,...,...
5002834,50130.0,대정읍 하모리,2023-06-29 00:00:00,더그라벨아파트,1221-1,57.1300,6,2019.0,"19,500"
5002835,50130.0,동홍동,2023-07-04 00:00:00,주공5차(동홍5차),1674,49.8700,2,1999.0,"21,700"
5002836,50130.0,서홍동,2023-07-04 00:00:00,서홍반석타운,2004-1,45.3100,1,2000.0,"9,300"
5002837,50130.0,중문동,2023-07-01 00:00:00,중문푸른마을,1789,51.8800,2,2003.0,"25,500"
5002838,50130.0,중문동,2023-07-01 00:00:00,e편한세상중문,1726,84.9875,5,2021.0,"52,500"

In [3]:
a_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5002839 entries, 0 to 5002838
Data columns (total 9 columns):
 #   Column  Dtype
---  ------  -----
 0   지역코드    float64
 1   동       object
 2   거래일     object
 3   아파트     object
 4   지번      object
 5   전용면적    float64
 6   층       object
 7   건축년도    float64
 8   거래금액    object
dtypes: float64(3), object(6)
memory usage: 343.5+ MB

In [4]:
a_df.value_counts('지역코드')

지역코드
41590.0    112712
41360.0     86199
41190.0     80877
41570.0     67517
44133.0     64606
            ...
45740.0       286
47720.0       260
47760.0       134
47940.0        36
46910.0         9
Name: count, Length: 249, dtype: int64

In [5]:
a_df.value_counts('동')

동
중동         52072
정자동        25149
상동         24889
신정동        24504
상계동        24230
           ...
다가동3가          1
오산면 장신리        1
적성면 마지리        1
화영동            1
하성면 마곡리        1
Name: count, Length: 3214, dtype: int64

In [6]:
a_df.value_counts('거래일')

거래일
2020-06-13 00:00:00    6231
2020-06-16 00:00:00    5885
2020-02-15 00:00:00    4997
2020-06-15 00:00:00    4939
2020-07-04 00:00:00    4828
                       ...
2019-04-26                1
12/18/2018                1
2016-05-26                1
2019-04-23                1
2017-08-07                1
Name: count, Length: 5848, dtype: int64

In [7]:
a_df.value_counts('건축년도')

건축년도
1997.0    210693
1994.0    201068
1998.0    200031
1995.0    196195
2004.0    195554
           ...
1968.0       144
1966.0        34
1967.0        29
1961.0        26
1965.0         5
Name: count, Length: 61, dtype: int64

In [8]:
pre_a_df = a_df.drop_duplicates()

In [9]:
pre_a_df.isna().sum()

지역코드      0
동         0
거래일       0
아파트       0
지번      428
전용면적      0
층         0
건축년도     47
거래금액      0
dtype: int64