#### Regularized Linear Regression  
- 다이아몬드의 특성을 회귀분석하여, 예상 가격을 예측한다.

In [16]:
import pandas as pd

df = pd.read_csv('./datasets/diamond.csv')
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64
53940,53941,0.71,Premium,E,SI1,60.5,55.0,2756,5.79,5.74,3.49
53941,53942,0.71,Premium,F,SI1,59.8,62.0,2756,5.74,5.73,3.43
53942,53943,0.70,Very Good,E,VS2,60.5,59.0,2757,5.71,5.76,3.47

In [17]:
pre_df = df.drop(labels=['Unnamed: 0'], axis=1)
pre_df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64
53940   0.71    Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53941   0.71    Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53942   0.70  Very Good     E     VS2   60.5   59.0   2757  5.71  5.76  3.47

[53943 rows x 10 columns]

In [18]:
from sklearn.preprocessing import LabelEncoder

columns = ['cut', 'color', 'clarity']
label_encoders = {}

for column in columns:
    encoder = LabelEncoder()
    result = encoder.fit_transform(pre_df[column])
    label_encoders[column] = encoder.classes_
    pre_df[column] = result

label_encoders

{'cut': array(['Fair', 'Good', 'Ideal', 'Premium', 'Very Good'], dtype=object),
 'color': array(['D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype=object),
 'clarity': array(['I1', 'IF', 'SI1', 'SI2', 'VS1', 'VS2', 'VVS1', 'VVS2'],
       dtype=object)}

In [19]:
pre_df

       carat  cut  color  clarity  depth  table  price     x     y     z
0       0.23    2      1        3   61.5   55.0    326  3.95  3.98  2.43
1       0.21    3      1        2   59.8   61.0    326  3.89  3.84  2.31
2       0.23    1      1        4   56.9   65.0    327  4.05  4.07  2.31
3       0.29    3      5        5   62.4   58.0    334  4.20  4.23  2.63
4       0.31    1      6        3   63.3   58.0    335  4.34  4.35  2.75
...      ...  ...    ...      ...    ...    ...    ...   ...   ...   ...
53938   0.86    3      4        3   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    2      0        3   62.2   55.0   2757  5.83  5.87  3.64
53940   0.71    3      1        2   60.5   55.0   2756  5.79  5.74  3.49
53941   0.71    3      2        2   59.8   62.0   2756  5.74  5.73  3.43
53942   0.70    4      1        5   60.5   59.0   2757  5.71  5.76  3.47

[53943 rows x 10 columns]

In [21]:
pre_df['target'] = pre_df.price
pre_df = pre_df.drop(labels=['price'], axis=1)
pre_df

       carat  cut  color  clarity  depth  table     x     y     z  target
0       0.23    2      1        3   61.5   55.0  3.95  3.98  2.43     326
1       0.21    3      1        2   59.8   61.0  3.89  3.84  2.31     326
2       0.23    1      1        4   56.9   65.0  4.05  4.07  2.31     327
3       0.29    3      5        5   62.4   58.0  4.20  4.23  2.63     334
4       0.31    1      6        3   63.3   58.0  4.34  4.35  2.75     335
...      ...  ...    ...      ...    ...    ...   ...   ...   ...     ...
53938   0.86    3      4        3   61.0   58.0  6.15  6.12  3.74    2757
53939   0.75    2      0        3   62.2   55.0  5.83  5.87  3.64    2757
53940   0.71    3      1        2   60.5   55.0  5.79  5.74  3.49    2756
53941   0.71    3      2        2   59.8   62.0  5.74  5.73  3.43    2756
53942   0.70    4      1        5   60.5   59.0  5.71  5.76  3.47    2757

[53943 rows x 10 columns]

In [26]:
import statsmodels.api as sm

features, targets = pre_df.iloc[:, :-1], pre_df.target

print(sm.OLS(targets, features).fit().summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                 target   R-squared (uncentered):                   0.940
Model:                            OLS   Adj. R-squared (uncentered):              0.940
Method:                 Least Squares   F-statistic:                          9.402e+04
Date:                Wed, 08 May 2024   Prob (F-statistic):                        0.00
Time:                        13:49:40   Log-Likelihood:                     -4.6620e+05
No. Observations:               53943   AIC:                                  9.324e+05
Df Residuals:                   53934   BIC:                                  9.325e+05
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
carat        1.01e+04     53.713    188.039      0.000    9994.833    1.02e+04
cut           95.4842      5.857     16.302      0.000      84.004     106.964
color       -264.3769      3.640    -72.635      0.000    -271.511    -257.243
clarity      306.8535      3.501     87.646      0.000     299.991     313.716
depth         22.6607      2.206     10.273      0.000      18.337      26.984
table        -31.3819      2.344    -13.386      0.000     -35.977     -26.787
x           -576.2541     36.258    -15.893      0.000    -647.320    -505.189
y            130.4810     23.288      5.603      0.000      84.837     176.125
z           -538.6886     38.104    -14.137      0.000    -613.373    -464.004
==============================================================================
Omnibus:                    14429.826   Durbin-Watson:                   1.145
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           379871.645
Skew:                           0.708   Prob(JB):                         0.00
Kurtosis:                      15.923   Cond. No.                         836.
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [23]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

def feature_engineering_VIF(features):
    vif = pd.DataFrame()
    vif['score'] = [variance_inflation_factor(features.values, i) for i in range(features.shape[1])]
    vif['feature'] = features.columns
    return vif

In [27]:
display(feature_engineering_VIF(features))

         score  feature
0    71.280065    carat
1     7.452827      cut
2     3.656697    color
3     6.216646  clarity
4   532.458587    depth
5   521.205781    table
6  1285.983450        x
7   531.811960        y
8   542.248232        z